@model WhirlForum2.Models.PaginationInfo

<div>
    <article>
        <nav>
            @if (Model.Previous < 1)
            {
                // do nothing
            } else if (Model.Previous == 1)
            {
                <a
                asp-controller="Forum"
                asp-action="Topic">
                Previous
                </a>
            } else
            {
                <a
                asp-controller="Forum"
                asp-action="Topic"
                asp-route-page=@Model.Previous>
                Previous
                </a>
            }

            @if (Model.TotalPages > 1)
            {
                <a
                asp-controller="Forum"
                asp-action="Topic">
                1
              </a>

                @for (int i = 2; i <= Model.TotalPages; i++)
                {
                    <a
                    asp-controller="Forum"
                    asp-action="Topic"
                    asp-route-page=@i>
                    @i
                    </a>
                }
            }
            
            @if (Model.Next > Model.TotalPages)
            {
                // do nothing
            } else
            {
                <a
                asp-controller="Forum"
                asp-action="Topic"
                asp-route-page=@Model.Next>
                Next
            </a>
            }
            

        </nav>
    </article>
</div>