@using WhirlForum2.Models

@model UserManagementModel

<h1>User Management</h1>

<table>
    <tr>
        <th>User Id</th>
        <th>Username</th>
        <th>Action</th>
    </tr>
@foreach (var user in Model.UserModels)
{
    <tr>
        <td>@user.UserId</td>
        <td>@user.Username</td>
        <td>Action</td>
    </tr>
}
</table>
<br />

@Html.Partial("_UserManagementPagination", Model.PaginationInfo)
