@using WhirlForum2.Models

@model UserModel

<h1>My acc</h1>
<label asp-for="UserId"></label>
<input asp-for="UserId" disabled />
<label asp-for="Username"></label>
<input asp-for="Username" disabled />