@model Core.Models.PaginationInfo

<nav>
    <ul class="pagination">
        <li>
            @if (Model.Previous < 1)
            {
                // do nothing
            } else if (Model.Previous == 1)
            {
                <a asp-controller="ContentManagement" asp-action="CommentManagement">Previous</a>
            } else
            {
                <a asp-controller="ContentManagement" asp-action="CommentManagement" asp-route-page=@Model.Previous>Previous</a>
            }
        </li>
            @if (Model.TotalPages > 1)
            {
                <li><a asp-controller="ContentManagement" asp-action="CommentManagement">1</a></li>

                @for (int i = 2; i <= Model.TotalPages; i++)
                {
                    <li><a asp-controller="ContentManagement" asp-action="CommentManagement" asp-route-page=@i>@i</a></li>
                }
            }
            
            @if (Model.Next > Model.TotalPages)
            {
                // do nothing
            } else
            {
                <li><a asp-controller="ContentManagement" asp-action="CommentManagement" asp-route-page=@Model.Next>Next</a></li>
            }
    </ul>
</nav>