@using Core.Entities
@using Core.Models

@model ApplicationUser

<h1>My acc</h1>
<label asp-for="Id"></label>
<input asp-for="Id" disabled />
<label asp-for="UserName"></label>
<input asp-for="UserName" disabled />