@model Core.Models.NewCommentModel

<form asp-controller="Forum" asp-action="NewComment" method="post">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <textarea asp-for="Content" rows="4" cols="70"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
            <input asp-for="PostId" type="hidden" />
            <input asp-for="CurrentPage" type="hidden" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <button type="submit">Submit Comment</button>
        </div>  
    </div>
    
</form>