@model Core.Models.NewCommentModel

<form asp-controller="Forum" asp-action="NewComment" method="post">
    <label asp-for="Content"></label>
    <textarea asp-for="Content"></textarea>
    <input asp-for="PostId" type="hidden" />
    <input asp-for="CurrentPage" type="hidden" />
    <button type="submit">Create</button>
</form>