@using Core.Models

@model RegisterModel

<h4>Create Root User account.</h4>

<form asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Username"></label>
    <input asp-for="Username" />

    <br /><br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br /><br />
    <button type="submit">Register</button>
</form>