@using Core.Models

@model RegisterModel

<h4>Create Root User account.</h4>

<form asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username" class="text-danger"></span>

    <br /><br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>
    <br /><br />

    <label asp-for="ConfirmPassword"></label>
    <input asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    <br /><br />

    <button type="submit">Register</button>
</form>