@using Core.Models

@model RegisterModel

@{
    bool rootExists = ViewBag.rootExists;
}

<h4>Create a new account.</h4>

<form asp-controller="Account" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Username"></label>
    <input asp-for="Username" />

    <br /><br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <br /><br />
    <button type="submit">Register</button>
</form>

@if (!rootExists)
{
    <p>There are no registered root users. <a asp-controller="Account" asp-action="RegisterRootUser">Create root account.</a></p>
}