@using Core.Models

@model LoginModel

<h4>Sign In</h4>

<form asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <label asp-for="Username"></label>
    <input asp-for="Username" />
    <span asp-validation-for="Username" class="text-danger"></span>

    <br /><br />

    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password" class="text-danger"></span>

    <br /><br />

    <label asp-for="RememberMe">
        <input asp-for="RememberMe" />
        @Html.DisplayNameFor(m => m.RememberMe)
    </label>

    <br /><br />

    <button type="submit">Log In</button>
</form>